.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "sidebar";
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-areas:
      "header header header header"
      "main main main sidebar";
  }
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}
