.form{
    width: 100%;
    max-width: 400px;
}

.form label{
    color: #fff;
}

.form input{
    display: block;
    margin-bottom: 1rem;
    margin-top: 10px;
    width: 100%;
    border: 0;
    padding: 1rem 0;
}

.form button{
    background: #fff;
    border: none;
    color: #000;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
}