.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  size: 28px;
}

.App a {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

form {
  margin-bottom: 1.5rem;
}
