.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #000;
}

button {
  size: 28px;
}

.App a {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

form {
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h1 a {
  color: #fff;
}
